label {
  display: none;
}

#check {
  z-index: 3;
  display: none;
}

/* Responsividade styles  */

@media (max-width: 960px) {
  header nav {
    display: none;
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  label:hover {
    color: #fff;
  }

  label .close-btn {
    display: none;
  }

  #check:checked ~ header nav {
    z-index: 2;
    position: fixed;
    background: rgba(114, 223, 255, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header nav a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .menu-btn {
    display: none;
  }

  #check:checked ~ header label .close-btn {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn {
    position: absolute;
  }

  header .logo {
    position: absolute;
    bottom: -6px;
  }

  .content info h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .content .info p {
    font-size: 14px;
  }

  @media (max-width: 560px) {
    .content .info h2 {
      font-size: 35px;
      line-height: 40px;
    }

    .content .info h2 span {
      font-size: 30px;
      font-weight: 600;
    }

    .content .info p {
      font-size: 14px;
    }
  }
}
